.acc-manager > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* MAIN CONTENT STYLES */
.landlord-info {
    width: auto;
    height: 23vh;
    border-radius: 10px;
    background-color: var(--mdj-white);
    box-shadow: 1px 2px 3px #d4dddde1;
    -webkit-box-shadow: 1px 2px 3px #d4dddde1;
    -moz-box-shadow: 1px 2px 3px #d4dddde1;
}
.landlord-info > div {
    flex: 1;
}

.owner-img {
    width: 9rem;
    height: 9rem;
    border-radius: 2rem;
}

.owner-name > p:nth-child(2){
    margin-top: -1rem;
    font-size: 0.94rem;
}

.owners-apartment-description > p {
    font-size: 0.83rem;
}


.landlord-dashboard {
    gap: 28px;
}
.landlord-dashboard > div {
    width: 307px;
    height: 132px;
    background-color: var(--mdj-white);
    border-radius: 7px;
    border: none;
    box-shadow: 1px 2px 3px #d4dddde1;
    -webkit-box-shadow: 1px 2px 3px #d4dddde1;
    -moz-box-shadow: 1px 2px 3px #d4dddde1;
}
.landlord-dashboard > div > div > i {
    font-size: 0.94rem;
}
.landlord-dashboard > div > div > p {
    font-size: 0.83rem;
}
.landlord-dashboard> div > p{
    font-size: 1.67rem;
    margin-top: -11px;
    color: var(--secondary-font-color);
}   
.landlord-dashboard > div > a {
    text-decoration: none;
    font-size: 0.83rem;
    color: #000;
    margin-top: -10px;
    transition: all 300ms ease-in-out;
}
.landlord-dashboard > div > a:hover{
    color: var(--secondary-font-color);
}



