.apartment-name > p {
    color: #fff;
    font-size: 1.11rem;
}
table {
    width: 100%;
    border-collapse: separate; /* Use separate border-collapse */
    border-spacing: 5px;
    /* border: 1px solid #dadada; */

}

table thead tr td{
    background-color: #6e9497;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
table tbody tr:nth-child(even) {
    background-color: #ffffff32;
}
table thead tr td, table tbody tr td  {
    max-width: 8rem;
    min-width: 6rem;
    text-align: start;
    padding: 0;
    font-size: 0.81rem;
    color: #fff;
    padding: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.add-tenant, .remove-tenant, .remove-apartment-btn {
    font-size: 0.73rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.add-tenant {
    background-color: hsl(120, 50%, 60%);
}
.remove-tenant, .remove-apartment-btn {
    background-color: hsl(0, 64%, 60%);
}

.add-apartment-button, .add-room-button, .add-rooms-btn  {
    background-color: #4297d3;
    padding: 8px 20px;
    font-size: 0.90rem;
    border-radius: 5px;
    border: none;
}
.add-apartment-button:hover, .add-room-button:hover, .add-rooms-btn:hover {
    background-color: #48a3e4;
}
